input[type=button]{
  width: 50px;
  height:50px;
  filter: blur;
}

h1{
  font-size: 600%;
}

#BL01{/*Seletor de Id*/ 
  height: 250px;
}

.imagem{/*Seletor de Classe*/ 
  height: 40px;
}

#calcular,#BTNcal{/*Seletor de Id*/
  width: 60px;/*Comprimento ou Largura*/
}

img{
  height: 20px;
}

textarea{
  height: 250px;
}

.blocos{
  width: 160%; 
}

table{
  width: 50%;
}

#first{
  background-color: #FFFF00;
}

input[type=text]{
  color: blue;
  width: 200px;
  font-weight : bolder;
}

#geral{
  position: absolute; 
  left: 5%; /* posiciona para a esquerda */ 
  top: 10%; /* posiciona para baixo */
}

body{
   background:url('Background.png');
   background-size: 100%;
   background-repeat: no-repeat;
}

.icones{
  width: 150px;
  height: 150px;
  -webkit-transition-duration: .90s;
}

.icones:hover {
   cursor: pointer; 

  -webkit-transition-duration: .90s;
  -webkit-filter: sepia(100%);
  
  -webkit-transform: scale(1.5);
  -webkit-transform-origin: 50% 50%;
  -o-transform: scale(1.5);
  -o-transform-origin: 50% 50% 0;
  transform: scale(1.5);
  transform-origin: 50% 50% 0;
}

