input[type=button]{
  width: 50px;
  height:50px;
  filter: blur;
}

tr{ 
  height: 250px;
  width: 200px;
}

textarea{
  height: 250px;
}

div {
  left: 25%; 
  position: relative;
}

form{
  background-color: blue;
}

input[type=text]{
  color: blue;
  width: 200px;
  font-weight : bolder;
}

