input[type=button]{
  width: 50px;
  height:50px;
  filter: blur;
}

#BL01{/*Seletor de Id*/ 
  height: 250px;
}

.imagem{/*Seletor de Classe*/ 
  height: 40px;
}

#calcular,#BTNcal{/*Seletor de Id*/
  width: 60px;/*Comprimento ou Largura*/
}

img{
  height: 20px;
}

textarea{
  height: 250px;
}

div{/*Seletor de tag*/
  width: 100%;
  /*left: 20%;*/ 
  position: relative;
}

table{
  width: 50%;
}

#first{
